# DO NOT CHANGE the "init" and "install" sections below

# Download script file from GitHub
init:
  ps: |
        $ErrorActionPreference = "Stop"
        Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
        Import-Module '..\appveyor-tool.ps1'

install:
  ps: Bootstrap

# caching not working as of June 2019 - classInt throws an error on old release
# because it needs to be reinstalled. Installing classInt from source prior
# to the build script does not address this, and introduces longer run times
# and other errors instead.

# cache:
#  - C:\RLibrary

# Adapt as necessary starting from here

environment:
  global:
    WARNINGS_ARE_ERRORS: 1
    USE_RTOOLS: true

  matrix:
    - R_VERSION: devel
      R_ARCH: x64

    - R_VERSION: patched
      R_ARCH: x64

    - R_VERSION: release
      R_ARCH: x64

    - R_VERSION: oldrel
      R_ARCH: x64

    - R_VERSION: 3.4.4
      R_ARCH: x64

    - R_VERSION: 3.3.3
      R_ARCH: x64

matrix:
  fast_finish: true

build_script:
  - travis-tool.sh install_deps

test_script:
  - travis-tool.sh run_tests

on_failure:
  - 7z a failure.zip *.Rcheck\*
  - appveyor PushArtifact failure.zip

artifacts:
  - path: '*.Rcheck\**\*.log'
    name: Logs

  - path: '*.Rcheck\**\*.out'
    name: Logs

  - path: '*.Rcheck\**\*.fail'
    name: Logs

  - path: '*.Rcheck\**\*.Rout'
    name: Logs

  - path: '\*_*.tar.gz'
    name: Bits

  - path: '\*_*.zip'
    name: Bits
